<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Git Blog - Error</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">
    <div class="space-1"></div>
    <h1>Something went wrong</h1>
    <p>Contact server administrator to check error logs.</p>
</div>
</body>