<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Git Blog - Init</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">
    <div class="space-1"></div>
    <h1>Welcome to Git Blog</h1>
    <p>In order to start using Git Blog, you first have to initialize application.</p>
    <form method="post">
        <div class="form-group">
            <label for="repository">Repository Address</label>
            <input type="text" name="address" class="form-control" id="repository" aria-describedby="repositoryHelp" placeholder="Enter local repository address" required>
            <small id="repositoryHelp" class="form-text text-muted">Clone your repository and then enter address of repository here. It should be local.</small>
        </div>

        <div class="form-group">
            <label for="reference">Branch</label>
            <input type="text" name="reference" class="form-control" id="reference" aria-describedby="referenceHelp" placeholder="Enter Repository Reference" required>
            <small id="referenceHelp" class="form-text text-muted">Select default release branch for this repository. Its usually "master" or "main".</small>
        </div>

        <div class="form-group">
            <label for="password">Admin Password</label>
            <input type="password" name="password" class="form-control" aria-describedby="passwordHelp" id="password" placeholder="Admin Account Password" required>
            <small id="passwordHelp" class="form-text text-muted">This password is used for administrator account. This account will automatically be created when application initializes.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>