<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{panel_layout}">
<head>
    <title>Git Blog - [[${user.username}]]</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Main content -->
<section layout:fragment="content" class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img th:if="${user.profilePicture != null}" class="profile-user-img img-fluid img-circle"
                                 th:src="@{/db/images/{pp}(pp=${user.profilePicture})}"
                                 alt="User profile picture">

                            <img th:if="${user.profilePicture == null}" class="profile-user-img img-fluid img-circle"
                                 th:src="@{/dist/img/boxed-bg.jpg}"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center" th:text="${user.name}"></h3>

                        <p class="text-muted text-center" th:text="${user.title}"></p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Posts</b> <a class="float-right" th:text="${user.postIds != null ? user.postIds.size() : 0}"></a>
                            </li>
                        </ul>

                        <a th:href="@{/panel/users/edit/{username}(username=${user.username})}" th:if="${currentUser.username.equals(user.username) || currentUser.isAdmin()}" class="btn btn-info btn-block"><b>Edit</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.Profile Image -->


                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="far fa-file-alt mr-1"></i> Bio</strong>

                        <p class="text-muted" th:text="${user.bio}"></p>

                        <strong><i class="far fa-file-alt mr-1"></i> Website</strong>

                        <p class="text-muted"><a th:text="${user.website}" th:href="${user.website}"></a></p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>



            <!-- Posts box -->
            <div class="card col-md-9">
                <div class="card-header">
                    <h3 class="card-title">Posts</h3>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 10%">
                                #
                            </th>
                            <th style="width: 50%">
                                Title
                            </th>
                            <th style="width: 20%">
                                Creation Date
                            </th>
                            <th style="width: 40%">
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>

    </div>
</section>
</body>
</html>
